RUST_LOG=info
API_COOKIE_NAME=flowbase_console_session
API_SESSION_TTL_DAYS=7
API_DATABASE_POOL_MAX_CONNECTIONS=5
API_PLUGIN_SET=default
API_SECRET_RESOLVER=env
API_PLUGIN_ALLOW_UNVERIFIED_FILESYSTEM_DROPINS=false
API_PLUGIN_ALLOW_UPLOADED_HOST_EXTENSIONS=false
API_OFFICIAL_PLUGIN_TRUSTED_PUBLIC_KEYS_JSON=[{"key_id":"official-key-2026-04","algorithm":"ed25519","public_key_pem":"-----BEGIN PUBLIC KEY-----\nMCowBQYDK2VwAyEAuk3oonNd85FNP8CBRKj8RVvpdbhreoJiCguEJXPSgwg=\n-----END PUBLIC KEY-----"}]
