.git
.github
.agents
.claude
.aionrs
node_modules
target
dist
coverage
.turbo
tmp
docs
uploads

docker/postgres/data/*
!docker/postgres/data/.gitkeep
docker/api/storage/*
!docker/api/storage/.gitkeep
docker/api/plugins/packages/*
!docker/api/plugins/packages/.gitkeep
docker/api/plugins/installed/*
!docker/api/plugins/installed/.gitkeep
docker/api/plugins/host-extension/dropins/*
!docker/api/plugins/host-extension/dropins/.gitkeep

api/target
api/storage
api/plugins/packages/*
api/plugins/installed/*
web/app/dist
web/**/node_modules
web/**/.turbo
