FLOWBASE_WEB_VERSION=v0.1.0
FLOWBASE_API_SERVER_VERSION=v0.1.0
FLOWBASE_PLUGIN_RUNNER_VERSION=v0.1.0
WEB_PORT=3100

POSTGRES_DB=1flowbase
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me-db-password
POSTGRES_MAX_CONNECTIONS=300

API_ENV=production
API_ALLOWED_ORIGINS=http://localhost:3100,http://127.0.0.1:3100
API_PROVIDER_SECRET_MASTER_KEY=change-me-provider-secret-master-key

BOOTSTRAP_WORKSPACE_NAME=1flowbase
BOOTSTRAP_ROOT_ACCOUNT=root
BOOTSTRAP_ROOT_EMAIL=root@example.com
BOOTSTRAP_ROOT_PASSWORD=change-me-root-password
BOOTSTRAP_ROOT_NAME=Root
BOOTSTRAP_ROOT_NICKNAME=Root
